.itemDetail-container{
    width: 80%;
    margin: 30px auto;
}

.item-detail-card{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin: 16px;
}

.item-detail-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-detail-card-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.item-detail-card-title{
    font-size: 1.3rem;
    margin: 20px 0 ;
}

.container-detail-img{
    border-radius: 8px;
    min-height: 300px;
    max-width: 450px;
}

.item-detail-card-img{
    width: 70%;
}

.item-detail-descripcion-container{
    font-size: 1rem;
    margin: 30px 0 ;    
}

.item-price{
    font-size: 1rem;
    font-weight: bold;
}

.item-detail-button{
    padding: 20px 60px;
    background-color: #FAC8D0;
    font-size: 1.3rem;
    font-weight: bolder;
    border-radius: 10px;
    border-color: transparent;
    margin: 0 auto;
}

.item-detail-button:hover{
    background-color: #9999d2;
    cursor: pointer;
}

.container-contador{
 width: 300px;
 margin-bottom: 15px;
}

.botones-accion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boton-accion{
    padding: 10px 25px;
    border-color: #9999d2;
    border-radius: 10px;
}

.boton-accion:hover{
    border-color: #FAC8D0;
}

.sin-stock{
    color: #FF0000;
    text-align: center;
}

.item-detail-volver{
    background-color: transparent;
    padding: 12px;
    border: none;
    font-size:20px;
}

.item-detail-volver:hover{
    color: #9999d2;
    cursor: pointer;
}